FastApi==0.95.2
SqlAlchemy==2.0.15
Alembic==1.11.1
asyncpg==0.27.0
uvicorn==0.22.0
python-multipart==0.0.6
aiofiles==23.1.0
python-dotenv==1.0.0
httpx==0.24.1
loguru==0.7.0
black==23.3.0
flake8==6.0.0
flake8-bugbear==23.5.9
flake8-pie==0.16.0
isort==5.12.0